<div id="carouselExampleIndicators" class="carousel slide d-flex align-items-center" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active bg-red">
            <figure class="text-center p-5">
                <blockquote class="blockquote text-light mx-auto" style="max-width: 80%;">
                    <p>"Hi, I'm Viktor. I am a fullstack developer"</p>
                </blockquote>
                <figcaption class="blockquote-footer text-light">
                    Some guy from <cite title="Source Title">Odense</cite>
                </figcaption>
            </figure>
        </div>
        <div class="carousel-item bg-red">
            <figure class="text-center p-5">
                <blockquote class="blockquote text-light mx-auto" style="max-width: 80%;">
                    <p>"Right now I am doing my Bachelor in Software Engineering at SDU"</p>
                </blockquote>
                <figcaption class="blockquote-footer text-light">
                    An engineering student from <cite title="Source Title">Denmark</cite>
                </figcaption>
            </figure>
        </div>
        <div class="carousel-item bg-red">
            <figure class="text-center p-5">
                <blockquote class="blockquote text-light">
                    <p>"I work part-time as a student developer"</p>
                </blockquote>
                <figcaption class="blockquote-footer text-light">
                    A software engineer from <cite title="Source Title">Centic</cite>
                </figcaption>
            </figure>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>