<div class="container p-5 bg-light-2">
    <div class="row">
        <div class="col-12 col-lg-6 text-center">
            <img src="assets/images/profile_pic.png" alt="Description of the image" class="img-fluid rounded">
        </div>
        <div class="col-12 mt-5 mt-lg-0 col-lg-6 text-center d-flex align-items-center mb-5">
            <div class="text">
                <h3>Hello, I'm Viktor Nemeth Andersen</h3>
                <p>Hey, welcome to my spot on the web! I'm diving into software engineering with a simple aim: using technology for good. Since I started coding, my main goal has been to develop something that's not just globally used, but truly valued.</p>

                <p>In my uni projects and personal tinkering, I've explored everything from web development to machine learning. The key takeaways for me have been the importance of adaptability, the drive to continuously learn, and the value of collaborating with diverse minds. I make it a point to be around those who challenge and inspire me.</p>

                <p>Over here, you'll see some of the tech stuff I've worked on, bits I've learned along the way, and where I reckon tech's headed next. With a bit of fresh thinking, some hard work, and the right team vibe, I'm sure we can whip up tech that folks actually want and need.</p>

                <p>If you are interested in diving deep into tech discussions, teaming up on projects, or just keen for a casual chat, feel free to <a href="viktoranders3n@gmail.com">reach out to me</a>. Let's shape the future of tech together!</p>
            </div>
        </div>
    </div>
    <hr>
</div>