<div class="d-flex character-card p-2">
  <div class="flex-column w-25">
    <img class="img-fluid rounded-circle character-card-image" src="assets/images/profile_photo.jpeg" alt="photo">
  </div>
  <div class="flex-column w-75 align-self-center ms-2 character-card-text">
    <div><strong><u>{%t full_name%}</u></strong></div>
    <div class="font-weight-light text-light"><strong><u>{%t title%}</u></strong></div>

    <div class="progress border">
      <div class="progress-bar bg-success p-2" role="progressbar" style="width: 75%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">6174</div>
    </div>
    <div class="progress border">
      <div class="progress-bar bg-primary p-2" role="progressbar" style="width: 90%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">314159</div>
    </div>
  </div>
</div>