<div class="container p-5 bg-light-2">
    <div class="row">
        <div class="col-12 col-lg-6 text-center">
            <img src="assets/images/AI_profile_pic.png" alt="Description of the image" class="img-fluid rounded">
        </div>
        <div class="col-12 mt-5 mt-lg-0 col-lg-6 text-center d-flex align-items-center mb-5">
            <div class="text">
                <h3>Hello, I'm Viktor Nemeth Andersen</h3>
                <p>Welcome to my personal space on the web! As a budding software engineer, my passion lies in harnessing the power of technology to bring about positive change. Ever since I began my journey in the world of programming, I've been driven by a single, overarching goal: to create and provide a technology that will be embraced and used widely across the globe.</p>

                <p>Throughout my academic and personal projects, I've delved into various domains of software engineering, from web development to machine learning. My experiences have taught me the importance of adaptability, continuous learning, and collaborating with diverse teams to bring an idea to fruition.</p>

                <p>Here, you'll find a showcase of my projects, insights from my learning experiences, and my thoughts on the future of technology. I believe that with the right mix of innovation, dedication, and collaboration, we can create technologies that truly resonate with people's needs and aspirations. And I'm eager to be at the forefront of such transformations!</p>

                <p>If you're interested in discussing technology, potential collaborations, or simply want to chat, feel free to <a href="viktoranders3n@gmail.com">reach out to me</a>. Let's shape the future of tech together!</p>
            </div>
        </div>
    </div>
    <hr>
</div>