<!-- footer.html -->
<footer class="footer bg-red py-5">
    <div class="container">
        <div class="row">
            <!-- About Section -->
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <h5 class="text-light">About me</h5>
                <p class="text-light">Passionate about meaningful tech, adaptability and teamwork? Keen to innovate? Let's connect. Until our paths cross again!</p>
            </div>

            <!-- Quick Links Section -->
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <h5 class="text-light">Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/" class="text-light">Home</a></li>
                    <li><a href="#" class="text-light">Blog</a></li>
                    <li><a href="/worldmap.html" class="text-light">World Map</a></li>
                    <li><a href="#" class="text-light">Evently</a></li>
                </ul>
            </div>

            <!-- Social Links Section -->
            <div class="col-lg-4 col-md-6">
                <h5 class="text-light">Stay Connected</h5>
                <p class="text-light">Follow me on my social media platforms for updates and more!</p>
                <a href="#" class="text-light mx-2"><i class="fab fa-instagram fa-2x"></i></a>
                <a href="#" class="text-light mx-2"><i class="fab fa-linkedin-in fa-2x"></i></a>
                <a href="#" class="text-light mx-2"><i class="fab fa-github fa-2x"></i></a>
            </div>
        </div>

        <!-- Bottom Bar -->
        <div class="row mt-4 border-top pt-4">
            <div class="col text-center">
                <p class="text-light">&copy; 2023 Viktor Nemeth Andersen. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
