<div class="container d-flex justify-content-around">
    <a href="" target="_blank" class="text-muted some-icon">
        <i class="fa fa-mug-hot"></i>
    </a>
    <a href="https://www.instagram.com/vnemethh/" target="_blank" class="text-muted some-icon">
        <i class="fab fa-instagram"></i>
    </a>
    <a href="https://github.com/v-nemeth" target="_blank" class="text-muted some-icon">
        <i class="fab fa-github"></i>
    </a>

    <a href="https://www.linkedin.com/in/viktor-andersen-78852217b/" target="_blank" class="text-muted some-icon">
        <i class="fab fa-linkedin-in"></i>
    </a>
</div>
